<!DOCTYPE html>
<html lang = "pt-br">
	<head>
		<title>Administrar NSports</title>
		<meta charset = 'UTF-8'>
		<meta name="robots" content="noindex">
	</head>
	<body>
		<h1/>Bem vindo a tela do administrador</h1>
		<nav>
			<h1>Administrar:</h1>
			<ul>
				<li><a href = "#">Banner de promoções</li>
				<li><a href = "#">Slide Show</a></li>
				<li><a href = "#">Mercadorias</a></li>
				<li><a href = "#">Promoções</a></li>
			</ul>
		</nav>
	</body>
</html>