<!DOCTYPE html>
<html lang = "pt-br">
	<head>
		<title>NSports | Roupas Masculinas, Femininas e acessorios</title>
		<meta charset = "UTF-8"/>
		<meta name = "viewport" content = "width=device-width"/>
		<link rel = "stylesheet" href = "/css/reset.css"/>
		<link rel = "stylesheet" href = "/css/estilo.css" media = "screen"/>
		<link rel = "stylesheet" href = "/css/mobile-um.css" media = "(min-width:700px)"/>
	</head>
	<body>